html {
  height: 100%;
  color: var(--fg);
  --fg: #eee;
  --anti-fg: #111;
  --bg: #113;
  --1: #338;
  --2: #222;
  --3: #111;
  --4: #739;

  --primary-light: #113;
  --primary: #338;
  --primary-dark: #739;
  --secondary: #222;
  --secondary-dark: #111;
  --tertiary-dark: #739;
  --tertiary-dark-hover: #b5f;
  --tertiary: #338;
  --tertiary-light: #113;

  --link: #28f;
  --link-hover: #26f;

  --btn-hover: #ffffff08;
  --scrollbar-bg: #444;
  --scrollbar: #666;
  --scrollbar-hover: #777;

  &.light {
    --fg: #000;
    --anti-fg: #fff;
    --primary-light: #ddf;
    --primary: #b9f;
    --primary-dark: #b5f;
    --secondary: #ff8;
    --secondary-dark: #fd8;
    --tertiary-light: #fcc;
    --tertiary: #faa;
    --tertiary-dark: #f88;
    --tertiary-dark-hover: #f44;

    --bg: #ddf;
    --1: #b9f;
    --2: #ff8;
    --3: #fd8;
    --4: #b5f;

    --btn-hover: #00000008;
    --scrollbar-bg: #0002;
    --scrollbar: #0004;
    --scrollbar-hover: #0005;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: sans-serif;
  background-color: var(--bg);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link);
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--link-hover);
  }
}

button {
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  border-radius: 0.375rem 0 0 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic-SemiBold.ttf') format('truetype');
}
