html {
  color: var(--fg);
  --fg: #eee;
  --bg: #113;
  --1: #338;
  --2: #222;
  --3: #111;
  --4: #739;
  --btn-hover: #ffffff08;
  --scrollbar-bg: #444;
  --scrollbar: #666;
  --scrollbar-hover: #777;



  &.light {
    --fg: #000;
    --primary-light: #ddf;
    --primary: #b9f;
    --primary-dark: #b5f;
    --secondary: #ff8;
    --secondary-dark: #fd8;
    --tertiary: #faa;
    --tertiary-dark: #f88;
    --btn-hover: #00000008;
    --link: #28f;
    --link-hover: #26f;
    --scrollbar-bg: #0002;
    --scrollbar: #0004;
    --scrollbar-hover: #0005;

    --bg: #ddf;
    --1: #b9f;
    --2: #ff8;
    --3: #fd8;
    --4: #b5f;
    --btn-hover: #00000008;
    --link: #28f;
    --link-hover: #26f;
    --scrollbar-bg: #0002;
    --scrollbar: #0004;
    --scrollbar-hover: #0005;
  }

  @media (prefers-color-scheme: light) {
    &.auto {
      --fg: #000;
      --bg: #ddf;
      --1: #b9f;
      --2: #ff8;
      --3: #fd8;
      --4: #b5f;
      --btn-hover: #00000008;
      --link: #28f;
      --link-hover: #26f;
      --scrollbar-bg: #0002;
      --scrollbar: #0004;
      --scrollbar-hover: #0005;
    }
  }
}

html.dark {

  .icon-btns>button,
  .checkbox {
    filter: invert(1);
  }
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link);
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--link-hover);
  }
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  border-radius: 0.375rem 0 0 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

@font-face {
  font-family: 'NotoSansArabic';
  src: url('/fonts/NotoSansArabic-SemiBold.ttf') format('truetype');
}
